* {
  margin: 0;
  padding: 0;

  color: whitesmoke;
  background-color: black;
  font-family: sans-serif;
}

.totaldiv {
  width: 95%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.habitbtn {
  font-size: 19px;

  border: 2px solid blueviolet;
  width: 16rem;
  height: 3.5rem;
  border-radius: 5px;
  color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10rem;
  cursor: pointer;
}
.divbtn {
  width: 100%;
  display: flex;
  justify-content: center;
}
.all {
  display: flex;
  width: 100%;
  height: 58vh;
  margin-top: 3rem;
}
.days {
  width: 20%;
  height: 58vh;
}

.btns {
  width: 80%;
  height: 58vh;
}

.btns2 {
  width: 50%;

  grid-template-columns: repeat(4, 7fr);
  display: grid;
  flex-direction: column;

  padding-bottom: 1.2rem;
}
.week {
  margin-left: 20rem;
  padding: 1.07rem;
  font-size: 22px;
  font-weight: bold;
  color: grey;
}
.daysbtn {
  width: 20%;
  height: 4vh;
  border-radius: 5px;
  background-color: #201e1d;
  margin: 0.7rem;
}

.modal {
  width: 80%;
  height: 70vh;
  margin-top: 3rem;
}
.container {
  width: 40%;
  height: 45vh;

  margin: 6rem;

  border-radius: 4px;
  background-color: black;
  color: blueviolet;
  border: 2px solid blueviolet;
}

.h3 {
  color: grey;
  padding: 2rem;
  font-size: 24px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  background-color: black;
}
.label {
  display: flex;
  justify-content: center;
  background-color: black;
  color: grey;
  font-size: 18px;

  padding: 2rem;
}

.input {
  font-size: 18px;
  height: 3.2vh;
  width: 80%;
  border-radius: 3px;
}
.divinput {
  display: flex;
  justify-content: center;
}

.reference {
  font-size: 18px;
  display: flex;
  justify-content: center;
  padding: 2rem;
  color: grey;
}

.confirmbtn {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 3vh;
  align-items: center;
}
.subbtn {
  font-size: 18px;
  font-weight: bold;
  border: 3px solid grey;
  width: 113px;
  height: 3.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: grey;
  border-radius: 5px;
}
.divclose {
  display: flex;
  justify-content: center;
  width: 100%;
}
.close {
  margin-top: 3rem;
  font-size: 18px;
  font-weight: bold;

  color: grey;
  width: 120px;
  height: 4vh;
  border: 3px solid grey;
  cursor: pointer;
  border-radius: 5px;
}

.test {
  width: 300px;
  height: 15vh;
  background-color: #151414;
  color: black;
  border-radius: 5px;
  padding: 2rem;
}
.thursday {
  display: flex;
  justify-content: center;
  background-color: #151414;
  color: grey;
  font-size: 17px;
  font-weight: bold;
}

.date {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  background-color: #151414;
  font-size: 25px;
  font-weight: bold;
  color: grey;
}
.allprogress {
  width: 100%;
  height: 2vh;
  background-color: grey;
  margin-top: 1rem;
  border-radius: 5px;
}

.progress {
  height: 2vh;

  border-radius: 5px;
}
.bar {
  color: blueviolet;
}
